        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            font-size: 16px;
            background: #141414;
        }
        
        header {
            height: 100px;
            background: #141414;
            margin: 0 auto;
        }
        
        section {
            width: 1200px;
            margin: 0 auto;
        }
        
        label {
            float: left;
            width: 100px;
            color: #DDD;
            font-size: 24px;
            margin: 23px auto;
            padding-left: 180px;
        }
        
        header input {
            float: right;
            width: 15%;
            height: 35px;
            margin: 35px 120px 35px 0px;
            /* 将段落的第一行缩进多少像素 */
            text-indent: 20px;
            border-radius: 8px;
            border: none;
            outline: none;
        }
        
        .hero-box {
            width: 100%;
            padding-top: 140px;
        }
        
        .max-box {
            width: 1221px;
            margin: auto;
            overflow: hidden;
            position: relative;
            padding-left: 21px;
            padding-bottom: 250px;
        }
        
        .box-tit {
            position: relative;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 4px;
            color: #c39b5e;
            text-align: center;
            border-bottom: 1px solid #c39b5e;
        }
        
        .del {
            position: absolute;
            top: 0px;
            right: 30px;
            font-size: 20px;
        }
        
        .box-content {
            margin-top: 70px;
        }
        
        .main-list {
            width: 100%;
            overflow: hidden;
        }
        
        .main-list ul,
        ol {
            padding: 0;
        }
        
        .main-list ul li {
            position: relative;
            perspective: 1500px;
            float: left;
            width: 384px;
            overflow: hidden;
            margin-right: 23px;
            height: 327px;
            border: solid 1px #252525;
            background: #000;
            box-sizing: border-box;
            margin-bottom: 24px;
            text-align: center;
        }
        
        .main-list ul li img {
            transition: transform .4s;
        }
        
        .main-list ul li:hover {
            border: 1px solid #c39b5e;
        }
        
        .main-list ul li:hover img {
            transform: translateZ(125px);
        }
        
        .main-list ul li:hover .list-cont span {
            color: #c39b5e;
        }
        
        .main-list ul li:hover .small-del {
            display: block;
        }
        
        .main-list ol li {
            position: relative;
            perspective: 1500px;
            float: left;
            width: 384px;
            overflow: hidden;
            margin-right: 23px;
            height: 327px;
            border: solid 1px #252525;
            background: #000;
            box-sizing: border-box;
            margin-bottom: 24px;
            text-align: center;
        }
        
        .main-list ol li img {
            transition: transform .4s;
        }
        
        .main-list ol li:hover {
            border: 1px solid #c39b5e;
        }
        
        .main-list ol li:hover img {
            transform: translateZ(125px);
        }
        
        .main-list ol li:hover .list-cont span {
            color: #c39b5e;
        }
        
        .main-list ol li:hover .small-del {
            display: block;
        }
        
        .list-cont span {
            font-size: 20px;
            line-height: 74px;
            letter-spacing: 1px;
            color: #8f897f;
            margin-top: 23px;
        }
        
        .small-del {
            position: absolute;
            top: 0px;
            right: 5px;
            width: 50px;
            height: 50px;
            font-size: 20px;
            color: #fff;
            display: none;
        }
        
        .small-del img {
            width: 100%;
            height: 100%;
        }
        
        .have {
            position: absolute;
            top: 10px;
            left: 5px;
            width: 150px;
            height: 50px;
            font-size: 18px;
        }
        
        .return {
            position: absolute;
            top: 10px;
            left: 150px;
            width: 150px;
            height: 50px;
            font-size: 18px;
            display: none;
        }
        
        #change {
            margin: 22px auto;
            height: 30px;
            width: 60px;
            border: none;
            outline: none;
            background-color: #000;
            /* 将段落的第一行缩进多少像素 */
            text-indent: 20px;
            caret-color: #fff;
            display: none;
            color: #fff;
        }